[Unit]
Description=FlatSat2 Read Sensors socket

[Socket]
ListenStream=/run/read-sensors/read-sensors.sock
SocketMode=0666

[Install]
WantedBy=sockets.target

