[Unit]
Description=FlatSat2 Read Sensors Service
Requires=read-sensors.socket
After=read-sensors.socket

[Service]
ExecStart=/usr/bin/read_sensors
Restart=always
RestartSec=5
RestartPreventExitStatus=42
StandardInput=socket
StandardOutput=journal
StandardError=journal
ExecStop=/bin/kill -s SIGTERM $MAINPID
ExecReload=/bin/kill -s SIGHUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

